# Hidden files
*.swp
*.DS_Store
*.sw?

*~
\#*
.\#*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Python cache
__pycache__

# Executables
*.exe
*.out
*.app

# Mesh files
*.obj
*.off
*.ply
*.msh
*.mesh
*.vtk

# Extra directories
/.vscode
/.vs
/.idea
/.clangd
/.cache
/3rdparty
/cmake-build-*
/build*
/_build
/data

# Lagrange specifics
LagrangeOptions.cmake

/external
/dist
/scripts/.miniconda3

# CMake user presets
/CMakeUserPresets.json

# clangd
compile_commands.json
