[build-system]
requires = [
    "setuptools>=42",
    "wheel>=0.36.0",
    "scikit-build==0.14.0",
    "cmake>=3.24.2",
    "nanobind-stubgen==0.1.2",
    "ninja; platform_system!='Windows'"
]

build-backend = "setuptools.build_meta"

[project]
name = "lagrange-open"
maintainers = [{name = "Lagrange Core Team", email = "lagrange-core@adobe.com"}]
description = "A robust geometry processing engine"
license = {file = "LISENCE"}
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
    "numpy>=1.23",
    "colorama>=0.4.5",
]
dynamic = ["version"]

[tool.setuptools.dynamic]
version = {file = "VERSION"}

[project.urls]
repo = "https://github.com/adobe/lagrange"
doc = "https://opensource.adobe.com/lagrange-docs"
