[build-system]
requires = [
    "scikit-build-core==0.5.1",
    "nanobind-stubgen==0.1.2",
]

build-backend = "scikit_build_core.build"

[project]
name = "lagrange-open"
maintainers = [{name = "Lagrange Core Team", email = "lagrange-core@adobe.com"}]
description = "A robust geometry processing engine"
readme = "README.md"
requires-python = ">=3.9,<3.12"
dependencies = [
    "numpy>=1.23",
    "colorama>=0.4.5",
]
dynamic = ["version"]

[project.urls]
repo = "https://github.com/adobe/lagrange"
doc = "https://opensource.adobe.com/lagrange-docs"

[tool.scikit-build]
install.components = ["Lagrange_Python_Runtime"]
wheel.packages = ["modules/python/lagrange"]


[tool.scikit-build.cmake.define]
LAGRANGE_ASSERT_DEBUG_BREAK = false
LAGRANGE_EXAMPLES = false
LAGRANGE_INSTALL = false
LAGRANGE_MODULE_IO = true
LAGRANGE_MODULE_IMAGE = true
LAGRANGE_MODULE_PYTHON = true
LAGRANGE_MODULE_SCENE = true
LAGRANGE_UNIT_TESTS = false
LAGRANGE_WITH_ASSIMP = true
TBB_PREFER_STATIC = false

[tool.scikit-build.metadata.version]
provider = "scikit_build_core.metadata.regex"
input = "VERSION"
regex = "(?P<value>\\d+\\.\\d+\\.\\d+)"
