name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CTEST_OUTPUT_ON_FAILURE: ON
  CTEST_PARALLEL_LEVEL: 1

jobs:
  ####################
  # Linux / macOS
  ####################

  Unix:
    name: ${{ matrix.os }} (${{ matrix.compiler }}, ${{ matrix.config }}, ${{ matrix.sanitizer }}Sanitizer)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-12]
        config: [RelwithDebInfo, Debug]
        compiler: [gcc, apple, llvm]
        sanitizer: ["Address", "Thread"]
        exclude:
          - os: macos-12
            sanitizer: "Thread"
          - os: macos-12
            compiler: gcc
          - os: ubuntu-22.04
            compiler: apple
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 10

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
            sudo apt-get update
            if [ "${{ matrix.compiler }}" = "gcc" ]; then
              sudo apt-get install -y g++
              echo "CC=gcc" >> $GITHUB_ENV
              echo "CXX=g++" >> $GITHUB_ENV
            else
              sudo apt-get install -y clang
              echo "CC=clang" >> $GITHUB_ENV
              echo "CXX=clang++" >> $GITHUB_ENV
            fi
            sudo apt-get install xorg-dev ccache

      - name: Dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
            brew install ccache
            if [ "${{ matrix.compiler }}" = "llvm" ]; then
              brew install llvm@15
              echo "CC='$(brew --prefix llvm@15)/bin/clang'" >> $GITHUB_ENV
              echo "CXX='$(brew --prefix llvm@15)/bin/clang++'" >> $GITHUB_ENV
            fi

      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v1
        id: cpu-cores

      - name: Cache Build
        id: cache-build
        uses: actions/cache@v3
        with:
          path: ~/.ccache
          key: ${{ matrix.name }}-${{ matrix.config }}-cache

      - name: Prepare ccache
        run: |
          ccache --max-size=1.0G
          ccache -V && ccache --show-stats && ccache --zero-stats

      - name: Configure
        run: |
          mkdir -p build
          cd build
          cmake .. -G Ninja \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_BUILD_TYPE=${{ matrix.config }} \
            -DLAGRANGE_JENKINS=ON \
            -DLAGRANGE_ALL=ON \
            -DUSE_SANITIZER=${{ matrix.sanitizer }}

      - name: Build
        run: |
          cmake --build build -j ${{ steps.cpu-cores.outputs.count }}
          ccache --show-stats

      - name: Tests
        run: cd build; ctest --verbose -j ${{ steps.cpu-cores.outputs.count }}

  ####################
  # Windows
  ####################

  Windows:
    name: windows-2022 (${{ matrix.config }})
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        config: [Release, Debug]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 10

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Set env variable for sccache
        run: |
          echo "appdata=$env:LOCALAPPDATA" >> ${env:GITHUB_ENV}

      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v1
        id: cpu-cores

      - name: Cache build
        id: cache-build
        uses: actions/cache@v3
        with:
          path: ${{ env.appdata }}\Mozilla\sccache
          key: ${{ runner.os }}-${{ matrix.config }}-cache

        # We run configure + build in the same step, since they both need to call VsDevCmd
        # Also, cmd uses ^ to break commands into multiple lines (in powershell this is `)
      - name: Configure and build
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=x64
          cmake -G Ninja ^
            -DCMAKE_BUILD_TYPE=${{ matrix.config }} ^
            -DLAGRANGE_JENKINS=ON ^
            -DLAGRANGE_ALL=ON ^
            -B build ^
            -S .
          cmake --build build -j ${{ steps.cpu-cores.outputs.count }}

      - name: Tests
        run: cd build; ctest --verbose -j ${{ steps.cpu-cores.outputs.count }}
